
<div class="card text-center">
    <h1 class="text-primary bg-warning text-secondary">{{title}}</h1>
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a value="odbyt" class="nav-link "  routerLink="/user-form"
            (click)="this.addClassActiveOrRemove( 'btnRegister' )" 
            [ngClass]="buttons.btnRegister" >Register</a>
        </li>
        <li class="nav-item link" >
          <a class="nav-link " routerLink="/navigation"
          (click)="addClassActiveOrRemove( 'btnTop' )"  
          [ngClass]="buttons.btnTop" >Navigate Top Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/people"
          (click)="addClassActiveOrRemove( 'btnPeople' )" 
          [ngClass]="buttons.btnPeople" >People</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/messages"
            (click)="addClassActiveOrRemove( 'btnMessages' )" 
            [ngClass]="buttons.btnMessages" >Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/stopwatch"
            (click)="addClassActiveOrRemove( 'btnStopwatch' )" 
            [ngClass]="buttons.btnStopwatch" >Stopwatch</a>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <ul id="components" class="list-group col-md-4 float-left text-primary">
        <h5 class="card-title">Components</h5>
        <li class="list-group-item" >
            <p class="card-text">Messages</p>
        </li>
        <li class="list-group-item">
            <p class="card-text">Navigation</p>
        </li>
        <li class="list-group-item">
            <p class="card-text">People</p>
        </li>
        <li class="list-group-item">
            <p class="card-text">Person-Detail</p>
        </li>
        <li class="list-group-item">
            <p class="card-text">User-Form</p>
        </li>
        <li class="list-group-item">
            <p class="card-text">Stopwatch</p>
        </li>
        <li class="list-group-item">
            <p class="card-text">Footer</p>
        </li>
      </ul>

        <ul id="services" class="list-group col-md-4 float-left text-warning ">
            <h5 class="card-title">Services</h5>
            <li class="list-group-item">
                <p class="card-text">Person-Service</p>
            </li>
            <li class="list-group-item">
              <p class="card-text">Message-Service</p>
            </li>
        </ul>

        <ul id="data-files" class="list-group col-md-4 text-danger ">
            <h5 class="card-title">Data files</h5>
            <li class="list-group-item">
                <p class="card-text">Person</p>
            </li>
            <li class="list-group-item">
                <p class="card-text">Mock-People</p>
            </li>
        </ul>
        <div id="ending" class=" mt-3 col-md-4 float-left d-flex align-items-center">
            <p class="card-text w-100">Below you will see components appear when you use above navigation.</p>
            <a href="#" class="btn btn-primary">Reset all page here CTRL + F5</a>
        </div>
    </div>
  </div>

  <router-outlet></router-outlet>
  
  <app-footer></app-footer>
