<div class="container">
  <h1>Add New User Profile</h1>
  <hr>
  <div class="row">


    <div class="col-md-9 personal-info">

      <h3>Personal info</h3>

      <form class="form-horizontal" 
        role="form" 
        novalidate
        [formGroup]="userForm">  <!-- Powiązanie z formularzem -->

        <div class="form-group" >
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="firstName" [ngClass]="{
              'is-invalid':(userForm.get('firstName').touched || userForm.get('firstName').dirty)
                &&!userForm.get('firstName').valid
            }" title="Please try: [A-z] Characters length:<2-20>">
            <span class="text-danger" *ngIf="userForm.get('firstName').errors?.pattern">
              Please try: [A-z] Characters length:<2-20>.
              <fa class="display-4 text-warning" name="cog" animation="spin"></fa>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" formControlName="lastName" [ngClass]="{
              'is-invalid':(userForm.get('lastName').touched || userForm.get('lastName').dirty)
                &&!userForm.get('lastName').valid
            }" title="Please try: [A-z] Characters length:<2-10>">
          </div>
          <span class="text-danger" *ngIf="userForm.get('lastName').errors?.pattern">
              Please try: [A-z] Characters length:<2-50>.
              <fa class="display-4 text-warning" name="cog" animation="spin"></fa>
          </span>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Chose your pet wisely:</label>
          <div class="col-lg-8">
            <select formControlName="pet" class="browser-default custom-select" 
            title="Account retrieval purposes. Default - Monkey">
              <option value="0" selected>Monkey</option>
              <option value="1">Dog</option>
              <option value="2">Cat</option>
              <option value="3">Parrot</option>
              <option value="4">Cow</option>
              <option value="5">Patyczaki</option> 
            </select>
          </div>
          <span class="text-danger" *ngIf="userForm.get('pet').errors?.pattern">
            "You don't mess with HTML" ...
            <fa class="display-5 text-warning" name="cog" animation="spin"></fa>
          </span>
        </div>

        <h3>Address</h3>

          <div class="form-group col-lg-8">
            <label for="inputAddress">City</label>
            <input type="text" class="form-control" id="city-id" placeholder="City" formControlName="city" [ngClass]="{
              'is-invalid':(userForm.get('city').touched || userForm.get('city').dirty)
                &&!userForm.get('city').valid
                }" title="Provide city name: ">
            <span class="text-danger" *ngIf="userForm.get('city').errors?.pattern">
              Wrong city. Try Try 3-30 letter space and dash
              <fa class="display-5 text-warning" name="cog" animation="spin"></fa>
            </span>
          </div>
          <div class="form-group col-lg-8">
            <label for="inputAddress2">Street</label>
            <input type="text" class="form-control" id="street-id" placeholder="Street name" formControlName="street" [ngClass]="{
              'is-invalid':(userForm.get('street').touched || userForm.get('street').dirty)
                &&!userForm.get('street').valid
                }" title="Provide street name:">
            <span class="text-danger" *ngIf="userForm.get('street').errors?.pattern">
              Wrong street. Try 3-60 letter space and dash
              <fa class="display-5 text-warning" name="cog" animation="spin"></fa>
            </span>
          </div>
          <div class="form-row col-lg-8">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Building</label>
                <input type="email" class="form-control" id="building-id" placeholder="Building No." formControlName="building" [ngClass]="{
                  'is-invalid':(userForm.get('building').touched || userForm.get('building').dirty)
                    &&!userForm.get('building').valid
                    }" title="Provide building no:">
                <span class="text-danger" *ngIf="userForm.get('building').errors?.pattern">
                  Wrong building number. Try 1-3 digit and 1 letter
                  <fa class="display-5 text-warning" name="cog" animation="spin"></fa>
                </span>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Flat</label>
                <input type="text" class="form-control" id="flat-id" placeholder="Flat No." formControlName="flat" [ngClass]="{
                  'is-invalid':(userForm.get('flat').touched || userForm.get('flat').dirty)
                    &&!userForm.get('flat').valid
                    }" title="Provide flat no:">
                <span class="text-danger" *ngIf="userForm.get('flat').errors?.pattern">
                  Wrong flat number. Try 1-3 digit and 1 letter
                  <fa class="display-5 text-warning" name="cog" animation="spin"></fa> 
                </span>
              </div>
          </div>
        


        <h3>Contact</h3>

        <div class="form-group ">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text"  formControlName="email" [ngClass]="{
              'is-invalid':(userForm.get('email').touched || userForm.get('email').dirty)
                &&!userForm.get('email').valid
            }" title="Email must be a valid email address. Just like 'retard@xx.yy'">
          </div>
          <span class="text-danger" *ngIf="userForm.get('email').errors?.email">
              Email must be a valid email address. -> retard@xx.yy
              <fa class="display-5 text-warning" name="cog" animation="spin"></fa>
          </span>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Phone:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text"  formControlName="phone" [ngClass]="{
              'is-invalid':(userForm.get('phone').touched || userForm.get('phone').dirty)
                &&!userForm.get('phone').valid
            }" title="Right pattern: +(48)737-727-327 / +(48)777111222 /+(48)777 111 222">
            <span class="text-danger" *ngIf="userForm.get('phone').errors?.pattern">
              Wrong Phone number! -> Right pattern: +(48)737-727-327 / +(48)777111222 /+(48)777 111 222 .
              <fa class="display-5 text-warning" name="cog" animation="spin"></fa>
            </span>
            <fa *ngIf="userExists" class="display-5 text-warning" name="cog" animation="spin"></fa>
          </div>
        </div>

        <h3>Account</h3>

        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input #username class="form-control" type="text"  formControlName="username" [ngClass]="{
              'is-invalid':(userForm.get('username').touched || userForm.get('username').dirty)
                &&!userForm.get('username').valid
            }" title="'A-z' & 'a-z' ,'0-9', '_', min 1 max 15 char." >
            <span *ngIf="userExists" class="text-danger">this user already exists !</span> 
            <span class="text-danger" *ngIf="userForm.get('username').errors?.pattern">
              Wrong username format! -> "A-z" & "a-z" ,"0-9", "_", min 1 max 15 char.
            </span>
            <fa *ngIf="userExists || userForm.get('username').errors?.pattern" class="display-5 text-warning" name="cog" animation="spin"></fa>
          </div>
        </div>

        <!-- Grupa hasła -->       
        <div formGroupName="pswdGroup" [ngClass]="{     
          'has-error':userForm.get('pswdGroup').errors
          }"> 

          <div class="form-group" [ngClass]="{
            'has-error':(userForm.get('pswdGroup.password').touched || 
            userForm.get('pswdGroup.password').dirty) && 
            !userForm.get('pswdGroup.password').valid
          }">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password"  formControlName="password" [ngClass]="{
                'is-invalid':(userForm.get('pswdGroup.password').touched || userForm.get('pswdGroup.password').dirty)
                  &&!userForm.get('pswdGroup.password').valid
              }" title="1 Big letter, 1 small letter, 1 special character #,$,%,@, min 8 characters total.">
              <span class="text-danger" *ngIf="userForm.get('pswdGroup.password').errors?.pattern">
                  {{passwordPatternMsg}}
                  <fa class="display-5 text-warning" name="cog" animation="spin"></fa>
              </span> 
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password"  formControlName="cPassword" title="Must match your the previous field">
              <span class="text-danger" *ngIf="userForm.get('pswdGroup').errors?.matchPasswords" >                 
                  {{matchPasswordsMsg}}  
                  <fa class="display-5 text-warning" name="cog" animation="spin"></fa>    
              </span> 
            </div>
          </div>
        </div>    
        <!-- Grupa hasła Koniec -->   

        <div class="form-group">       
          <label class="col-md-3 control-label">Want to know more?</label>
          <div class="col-md-8">
              <div class="checkbox">
                  <input type="checkbox" name="checkbox" id="newsletter" formControlName="newsletter" 
                  title="Must subscribe to in order to register, you can change it later on in your acc settings" > <!-- ng-true-value="'1'" ng-false-value="'0'" -->
                  <label for="inlineRadio3lg"> Subscribe now </label>
              </div>
              <span class="text-danger" *ngIf="!userForm.get('newsletter').valid" >                 
                  Must check it to register! 
                  <fa class="display-5 text-warning" name="cog" animation="spin"></fa>     
              </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="button" class="btn btn-primary" value="Save Form" (click)="onSubmit()">
            <span></span>
            <input type="reset" class="btn btn-warning" value="Reset Form">
            <span></span>
            <input type="button" class="btn btn-success" value="Test Values" (click)="populateTestData()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>